<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageSaleProductHomePage</servlet-name>
        <servlet-class>controllerr.ManageSaleProductHomePage</servlet-class>
    </servlet>
       <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controllerr.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrator</servlet-name>
        <servlet-class>admin.Administrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>introductionBrand</servlet-name>
        <servlet-class>controllerr.introductionBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSize</servlet-name>
        <servlet-class>controllerr.ChooseSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllerr.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controllerr.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllerr.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAccount</servlet-name>
        <servlet-class>admin.EditUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>admin.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerEmployeeAccount</servlet-name>
        <servlet-class>admin.ManagerEmployeeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAccount</servlet-name>
        <servlet-class>admin.AddUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeAccount</servlet-name>
        <servlet-class>admin.DeleteEmployeeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRole</servlet-name>
        <servlet-class>admin.ManagerRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRole</servlet-name>
        <servlet-class>admin.DeleteRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeature</servlet-name>
        <servlet-class>admin.DeleteFeature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>admin.UpdateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedback</servlet-name>
        <servlet-class>controllerr.Feedbacklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackForm</servlet-name>
        <servlet-class>controllerr.FeedbackForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>controllerr.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllerr.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllerr.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>admin.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBrand</servlet-name>
        <servlet-class>admin.ManagerBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerBlog</servlet-name>
        <servlet-class>controllerr.managerBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSport</servlet-name>
        <servlet-class>admin.ManagerSport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSize</servlet-name>
        <servlet-class>admin.ManagerSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerColor</servlet-name>
        <servlet-class>admin.ManagerColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controllerr.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategory</servlet-name>
        <servlet-class>admin.ManagerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSubCategory</servlet-name>
        <servlet-class>admin.ManagerSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllerr.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homestaff</servlet-name>
        <servlet-class>controllerr.HomeStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-class>controllerr.AdminOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductOnHome</servlet-name>
        <servlet-class>controllerr.ManageHotProductHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageHotProducts</servlet-name>
        <servlet-class>controllerr.ManageHotProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestsBlog</servlet-name>
        <servlet-class>controllerr.RequestsBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSaleProducts</servlet-name>
        <servlet-class>controllerr.ManageSaleProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controllerr.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDiscount</servlet-name>
        <servlet-class>admin.ManagerDiscount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrator</servlet-name>
        <url-pattern>/administrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>introductionBrand</servlet-name>
        <url-pattern>/introBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSize</servlet-name>
        <url-pattern>/choosesize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAccount</servlet-name>
        <url-pattern>/edituseraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerEmployeeAccount</servlet-name>
        <url-pattern>/manageremployeeaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAccount</servlet-name>
        <url-pattern>/adduseraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeAccount</servlet-name>
        <url-pattern>/deleteemployeeaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRole</servlet-name>
        <url-pattern>/managerrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRole</servlet-name>
        <url-pattern>/deleterole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeature</servlet-name>
        <url-pattern>/deletefeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/updaterole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedback</servlet-name>
        <url-pattern>/feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackForm</servlet-name>
        <url-pattern>/submitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/managerproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBrand</servlet-name>
        <url-pattern>/managerbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerBlog</servlet-name>
        <url-pattern>/managerBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSport</servlet-name>
        <url-pattern>/managersport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSize</servlet-name>
        <url-pattern>/managersize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerColor</servlet-name>
        <url-pattern>/managercolor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategory</servlet-name>
        <url-pattern>/managercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSubCategory</servlet-name>
        <url-pattern>/managersubcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homestaff</servlet-name>
        <url-pattern>/HomeStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSaleProductHomePage</servlet-name>
        <url-pattern>/ManageSaleProductHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductOnHome</servlet-name>
        <url-pattern>/ManageHotProductHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderController</servlet-name>
        <url-pattern>/AdminOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageHotProducts</servlet-name>
        <url-pattern>/ManageHotProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestsBlog</servlet-name>
        <url-pattern>/RequestsBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSaleProducts</servlet-name>
        <url-pattern>/ManageSaleProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDiscount</servlet-name>
        <url-pattern>/managerdiscount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
