
.header {
    background-color: #f9f9f9; 
    color: black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    
}

.header .logo {
    font-size: 24px; 
    font-style: italic;
}

.header .admin-page {
    font-size: 18px; 
}

.header .user-info {
    display: flex; 
    align-items: center; 
}

.header .user-info img {
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
}
