body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
}

.sidebar {
    width: 100%;
    height: 1200px;
    background-color: #212121;
    padding: 20px 0;
    color: white;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    width: 100%
}

.sidebar a span {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #6c757d;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
}

.sidebar .menu-item i {
    font-size: 18px;
}

.sidebar .active {
    
}

